# Data Preprocessing

In [11]:
pip install datacommons_pandas

Collecting datacommons_pandas
  Downloading datacommons_pandas-0.0.3-py3-none-any.whl (45 kB)
Requirement already satisfied: pandas in c:\users\94711\anaconda3\lib\site-packages (from datacommons_pandas) (1.2.4)
Requirement already satisfied: six in c:\users\94711\anaconda3\lib\site-packages (from datacommons_pandas) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\94711\anaconda3\lib\site-packages (from pandas->datacommons_pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\94711\anaconda3\lib\site-packages (from pandas->datacommons_pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\94711\anaconda3\lib\site-packages (from pandas->datacommons_pandas) (1.20.1)
Installing collected packages: datacommons-pandas
Successfully installed datacommons-pandas-0.0.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as panda
import seaborn as sns
import matplotlib.pyplot as mplt
from pandas.api.types import is_string_dtype, is_numeric_dtype

weatherData = panda.read_csv("archive/weatherAUS.csv")
weatherData.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [4]:
weatherData.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

In [5]:
missedData = weatherData.isnull().sum()
allData = weatherData.isnull().count()
print("Missed Values :")
print(missedData)
print("  ")
print("All Values :")
print(allData)

Missed Values :
Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

All Values :
Date             145460
Location         145460
MinTemp          145460
MaxTemp          145460
Rainfall         145460
Evaporation      145460
Sunshine         145460
WindGustDir      145460
WindGustSpeed    145460
WindDir9am       145460
WindDir3pm       145460
WindSpeed9am     145460
WindSpeed3pm     145460
Humidity9am      145460
Humidity3pm      145460
Pressure9am      145460
Pressure3pm      145460
Cloud9am         145460
Cloud3pm         145460
Temp9am          145460
Temp3pm          145460
RainToday        145460
RainTomorrow     145460
dtype: int64

In [ ]:
#Automate a for loop for univariate analysis
#for a numerical variable a histogram will generate to visualize data
#distribution
#for a categorical variable a bar chart will generate to visualize data
#distribution

for column in df:
    plt.figure(column, figSize=(5,5))
    plt.title(column)
    if is_numeric_dtype(df[column]):
        df[column].plot(kind='hist')
    elif is_string_dtype(df[column]):
        #show onlytop10values in each categoricaldata
        df[column].value_counts()[:10].plot(kind='bar')

In [ ]:
#address outliers in 'Rainfall'
#use quantile(0.9) to limit the dataset
maximum = df['Rainfall'].quantile(0.9)
df=df[df["Rainfall"]<maximum]
df["Rainfall"].plot(kind='hist')
df.shape

In [ ]:
#Feature Transformation
#Transform 'Date' variable to 'Month'
df['Month']= pd.to_datetime(df['Date']).dt.month.apply(str)
df['Month'].value_counts().plot(kind='bar')

In [ ]:
#Categorical Feature Encoding
#use label encoding
from sklearn.preprocessing import LabelEncoder

categorical_features = ['Location','WindGustDir','WindDir9am','WindDir3pm','RainToday','Month','RainTomorrow']

for n in categorical_features:
    df[n] = LabelEncoder().fit_transform(df[n])

In [ ]:
df.info()

In [ ]:
#Feature selection
#use correlation analysis
plt.figure(1,figSize=(15,15))
correlation = df.corr()
sns.heatmap(correlation,cmap = "GnBu",annot = True)

In [ ]:
#drop and rearrange columns
df = df[['Month','Location','MinTemp','MaxTemp','WindGustDir','WindGustSpeed','WindDir9am','WindDir3pm','WindSpeed9am',
        'WindSpeed3pm','Humidity9am','Humidity3pm','Pressure3pm','RainToday','RainTommorow']]